@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'my_mixins.scss';

body {
  background: grey

}
h2 {
  background: lightgrey;
  display: none;

}
#vibrateButton {

  margin-top: 2em;

}
